.configure-container{
    width: 250px;
    padding: 0 10px;
    color: #ffffff;
}
.target-container{
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: 4px 20px;
    background: #ffffff;
    border-radius: 6px;
    color: #333333;
}
.language-container{
    position: absolute;
    top: 25px;
    right: 25%;
    transform: translateX(25%);
    width: 400px;
    height: 400px;
    z-index: 1;
    background: #ffffff;
    border-radius: 6px;
    display: flex;

}
.isShowTrue{
    display: none;
}
.isShowFalse{
    display: inline;
}
.languageList-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    transform: translateX(5%);
}
.languageList-content{
    display: inline-block;
    padding: 5px 5px;
    /*border: 1px solid red;*/
    width: 120px;
    margin-bottom: 2px;
}

